#calendar { font-family:Arial, Helvetica, sans-serif; border:#666666 1px solid; height:420px; -moz-border-radius: 4px 4px 4px 4px; border-collapse:separate; border-spacing:inherit; }
#calendar td { font-size: 11px; padding:0px; height:78px; width:78px;}
#calendar th { font-size: 11px; padding:5px; height:24px; width:78px;}

#calendar tr.topdays { background-color: #993333; font-size: 14px; color:#ffffff; font-weight:bold; padding:4px; }

#calendar .toprightnumber { font-size: 14px; font-weight: bold; margin-top: 5px; padding: 2px; }
#calendar .toprightnumber a:hover	{ text-decoration:line-through; }
#calendar .eventinbox { font-size: 10px; padding:3px; }
#calendar .eventinbox a { padding:3px; }
#calendar .currentdate { font-size: 14px; font-weight: bold; }

#calendar a:link,a:active,a:visited { color : #666666; text-decoration: none; }
#calendar a:hover	{ text-decoration: underline; color : #666666; }
#calendar .footer { font-size: 10px; }
#calendar td.beforedayboxes { background-color: #f6f6f6; color: #666666; height:78px; width:78px;}
#calendar td.dayboxes { background-color: #ffffff; color: #666666;}
#calendar td.afterdayboxes { background-color: #f6f6f6; color: #666666; height:78px; width:78px;}
#calendar td.highlighteddayboxes { background-color: #f6f6ae; color: #666666; }
#calendar .event { font-size: 12px; font-weight: bold; }
#calendar .eventdetail { font-size: 11px; }
#calendar .eventwhen { font-size: 15px; font-weight: bold; }
#calendar .addevent { font-size: 16px; font-weight: bold; }
#calendar .addeventextrainfo { font-size: 10px; }

#whowhatwhen { margin-top:16px; }
#whowhatwhen th { background-color:#f6f6f6; color:#666666; font-weight:bold; }