/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset */
* {
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 88px 0 22px 0;
	width: 940px;
	font: 13px/22px Georgia, "Times New Roman", Times, serif;
	background: #F0F0F0;
}
#title { 
	width:100%;
	background-image:url(../images/top-bg2.gif);
	background-repeat:repeat-x;
	color:#FFFFFF;
	position:absolute;
	top:0px;
	left:0px;
	height:360px;
	border-bottom:#666666 3px groove;
 }
#title form { display:block; width:540px; }
h1 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
	width:940px;
	margin:0 auto;
	margin-top:38px;
}
h1 span{
	float:right;
}
h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

a { color: #0CDDDF; }

a { text-decoration:underline; }

/*------------------------------
=NAVIGATION
------------------------------*/

nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: url("../images/nav_background.png");
	border-bottom:#333333 4px solid;
}

	nav ul {
		margin: 0 auto;
		width: 940px;
		list-style: none;
	}

		nav ul li {
			float: left;
		}
		
			nav ul li a {
				display: block;
				margin-right: 2px;
				width: 140px;
				font-weight:bold;
				font-size: 14px;
				line-height: 44px;
				text-align: center;
				text-decoration: none;
				color: #fff;
			}
			
				nav ul li a:hover {
					color: #0CDDDF;
					background-color:#333333;
				}
			
			nav ul li.selected a {
				color: #0CDDDF;
				background-color:#333333;
			}
			
			nav ul li.subscribe a {
				margin-left: 22px;
				padding-left: 33px;
				text-align: left;
				background: url("../images/rss.png") left center no-repeat;
			}



/*------------------------------
=INTRODUCTION
------------------------------*/

#intro {
	position: relative;
	margin-top: 26px;
	padding: 44px;
	background-image: url("../images/border.png");
	background-repeat:no-repeat;
	height:202px;
	
}

	#intro h2, #intro p {
		position: relative;
		z-index: 9999;
		width: 336px;
	}
	
	#intro h2 {
		padding: 0 0 22px 0;
		font-weight: normal;
		color: #fff;
	}
	
	#intro p {
		padding: 0;
		color: #999999;
	}
	
	#intro img {
		position: absolute;
		top: 6px;
		right: 10px;
		width: 460px;
		height: 270px;
	
		/* Border-radius not implemented yet */
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
	}

#cssselector { width:940px;
	margin:0 auto;
	 }

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
	display: table;
}

	#mainContent {
		display: table-cell;
		width: 620px;
		padding-right: 22px;
	}
	
	aside {
		display: table-cell;
		width: 300px;
		background: url("../images/sidebar_background.png") top left;
	}


/*------------------------------
=PAGINATION
------------------------------*/

.paginate {
	padding: 4px;
	margin: 4px;
	font-size:16px;
}

.paginate a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #0CDDDF;
	text-decoration:none;
	color: #0CDDDF;
}
.paginate a:hover, .paginate a:active {
	border: 1px solid #0CDDDF;
	color: #666;
}
.paginate span.current {
    margin: 2px;
	padding: 2px 5px 2px 5px;
		border: 1px solid #0CDDDF;

		font-weight: bold;
		background-color: #0CDDDF;
		color: #FFF;
	}
	.paginate span.disabled {
		padding:2px 5px 2px 5px;
		margin:2px;
		border:1px solid #eee;
		color:#DDD;
	}

/*------------------------------
=BLOG POST
------------------------------*/
.blogPost header p, .blogPost header p a {
		font-size: 14px;
		font-style: italic;
		color: #777;
	}
	
		.blogPost header p a:hover {
			text-decoration: none;
			color: #000;
		}
	
.blogPost img {
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}



/*------------------------------
=COMMENTS
------------------------------*/

#comments {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

	#comments article {
		display: table;
		padding: 22px;
	}
	
	#comments article:nth-child(odd) {
		padding: 21px;
		background: #E3E3E3;
		border: 1px solid #d7d7d7;
		-moz-border-radius: 11px;
		-webkit-border-radius: 11px;
	}
	
		#comments article header {
			display: table-cell;
			width: 220px;
			padding-right: 22px;
		}
		
			#comments article header a {
				display: block;
				font-weight: bold;
				color: #000;
			}
			
				#comments article header a:hover {
					text-decoration: none;
				}
		
		#comments article p {
			padding: 0;
		}



/*------------------------------
=COMMENT FORM
------------------------------*/
		
		form .textbox {
			width:222px;
			height:30px;
			font-family:Georgia, "Times New Roman", Times, serif; 
			font-size:16px;
			padding:0 0 0 4px;
			border:#999999 2px solid;
			/* Border-radius not implemented yet */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
		}
form .searchbox {
			width:300px;
			height:30px;
			border:#0CDDDF 2px solid;
			font-size:16px;
			padding:0 4px;
			font-family:Georgia, "Times New Roman", Times, serif;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
		}
/*------------------------------
=SUGGESTION BOX
------------------------------*/

	.suggestionsBox {
		position: relative;
		left: 76px;
		margin: 10px 0px 0px 0px;
		width: 400px;
		background-color: #999999;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border: 6px solid #fff;	
		color: #fff;
		z-index:1;
	}
	
	.suggestionList {
		margin: 0px;
		padding: 0px;
		font-size:16px;
	}
	
	.suggestionList li {
		list-style-type:none;
		margin: 0px 0px 3px 0px;
		cursor: pointer;
		padding:0px 0px 0px 20px;
		
	}
	
	.suggestionList li:hover {
		background-color: #cccccc;
	}
	.inputbox {
		padding:2px; font-size:16px; 
	}
/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;
	border:#999999 2px solid;
	background-color:#cccccc;
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

	aside section ul {
		margin: 0 0 0 22px;
		list-style: none;
	}
	
		aside section ul li a {
			display: block;
			text-decoration: none;
			color: #000;
		}
		
			aside section ul li a:hover {
				text-decoration: underline;
			}



/*------------------------------
=FOOTER
------------------------------*/
footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #0CDDDF;
	background-image:url(../images/top-bg2.gif);
	background-repeat:repeat-x;
	border-top:8px double #CCCCCC;
}

	footer div {
		display: table;
		margin: 0 auto;
		padding: 44px 0;
		width: 940px;
		color: #333;
	}
	
		footer div section {
			display: table-cell;
			width: 300px;
		}
		
		footer div #about, footer div #blogroll {
			padding-right: 20px;
		}
		
	footer h3 {
		color: #FFF;
	}
	
	footer a {
		color: #000;
	}
	
		footer a:hover {
			color: #FFF;
			text-decoration: none;
		}
	
	footer ul {
		margin: 0 0 0 40px;
		list-style: square;
		color: #565656;
	}
	
		footer ul li a {
			display: block;
		}
/*------------------------------
=forms tables
------------------------------*/
.postcodedrop { font-size:18px; font-family:Georgia, "Times New Roman", Times, serif; }
td { padding:6px; }
td.text { vertical-align:middle; text-align:right; }