.reviews {width: 100%;border-spacing: initial;margin: 20px 0px;word-break: break-word;table-layout: auto;line-height:1.8em;color:#333;}
.reviews th {background: #999;padding: 5px;text-align: left;color:#FFF;}
.reviews td {border-bottom: #f0f0f0 1px solid;background-color: #ffffff;padding: 5px;}
.reviews td div.feed_title{text-decoration: none;color:#00d4ff;font-weight:bold;}
.reviews ul{margin:0;padding:0;}
.reviews li{cursor:pointer;list-style-type: none;display: inline-block;color: #F0F0F0;text-shadow: 0 0 1px #666666;font-size:20px;}
.reviews .highlight, .reviews .selected {color:#F4B30A;text-shadow: 0 0 1px #F48F0A;}
.schoolreview { background-color:#ffffff; }
span.right { float:right; display:block; }
ul.ratings { width:600px; text-align:right; }
ul.ratings li { line-height:18px; font-size:12px; width:290px; display:inline-block;}
ul.ratings li span{ line-height:18px; font-size:12px; padding-bottom:10px;}
ul.ratings li img{ padding-top:4px;}
span.stars, span.stars span {
display: block;
background: url(http://www.cactuslanguage.com/en/images_v2/ratings/stars.png) 0 -16px repeat-x;
width: 80px;
height: 16px;
float:left;
display:block;
}

span.stars span {
background-position: 0 0;
}
p.small { font-size:10px!important; }
span.reviewers{ float:left;
display:block;
font-size:12px;
line-height:18px;
margin-left:5px; }
span.thestarreview { cursor:pointer; color:#d31145; text-decoration:underline; }